# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List Popular Languages for Data Science.
* List Commonly Used Libraries by Data Scientists.
* List Development Environment Data Science Tools.
* Examples of evaluating Arithmetic Expressions in Python.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Scala
4. Java
5. C++
6. SQL

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Matplotlib
4. SciPy
5. Seaborn
6. SciKit-Learn

|Data Science Tools|
|------------------|
| Jupyter |
| RStudio |
| Apache Zeppelin |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [3]:
(3*4)+5

17

This will convert 200 minutes to hours by dividing by 60.

In [9]:
minutes = 200
hours = minutes/60
print(f"{hours} hours")

3.3333333333333335 hours

## Author
Rahul G. Bolakani